@{
    ViewData["Title"] = "Eventos";
}

<div class="text-center gap-top mt-4 container">
    <h2 class="text-dark fw-bold-700 text-start title-container">Eventos</h2>

    <form>
        <div class="row g-1">
            <div class="col-lg-12">
                <div class="form-floating">
                    <input type="text" class="form-control text-dark" id="filtro" placeholder="Missa dominical">
                    <label for="filtro" class="text-dark">Nome do Evento</label>
                </div>
            </div>
        </div>
    </form>

    <div id="gridEvents">
        @await Html.PartialAsync("_GridEvents")
    </div>
</div>

@await Html.PartialAsync("_FooterLayout")