@{
    ViewData["Title"] = "Eventos";
}

<div class="text-center gap-top mt-4 container">
    <h2 class="text-dark fw-bold-700 text-start title-container">Eventos</h2>

    <form>
        <div class="row g-3">
            <div class="col-lg-5">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="Missa dominical">
                    <label for="floatingInputGrid">Nome do Evento</label>
                </div>
            </div>
            @* <div class="col-lg-5">
            <div class="form-floating">
            <input type="date" class="form-control" id="floatingInputDateGrid" placeholder="Missa dominical" asp-for="Date">
            <label for="floatingInputDateGrid">Data do Evento</label>
            </div>
            </div>*@
        </div>
    </form>

    <div id="gridEvents">
        @await Html.PartialAsync("_GridEvents");
    </div>
</div>

<footer class="border-top footer text-muted bg-white bottom-0 footer-menu-style" style="z-index: 1; height: 30vh">
    <div class="container p-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="py-2">
                <a class="text-dark fs-4" asp-area="" asp-controller="Home" asp-action="Index">ParoquiaRussas</a>
            </div>
            <div class="d-flex align-items-center footer-icons-div py-2">
                <a href="https://www.facebook.com/people/Par%C3%B3quia-de-Russas/100063692673100/" target="_blank" class="px-3"><i class="bi bi-facebook color-icon fs-3"></i></a>
                <a href="https://www.instagram.com/paroquiaderussas/" target="_blank" class="px-3"><i class="bi bi-instagram color-icon fs-3"></i></a>
                <a href="https://www.youtube.com/c/Par%C3%B3quiadeRussas" target="_blank" class="px-3"><i class="bi bi-youtube color-icon fs-3"></i></a>
            </div>
            <nav class="py-4">
                <ul class="navbar-nav footer-menu d-flex flex-row footer-menu-navbar">
                    <li class="nav-item px-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Notícias</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">Eventos</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Liturgy" asp-action="Index">Evangelho</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>