<ul class="nav nav-pills card-header-pills">

    <li class="nav-item col-md-4 col-6" style="cursor: pointer">
        <a class="nav-link nav-cards active fs-5" data-nav="noticias">Notícias</a>
    </li>

    <li class="nav-item col-md-4 col-6" style="cursor: pointer">
        <a class="nav-link nav-cards fs-5" data-nav="eventos">Eventos</a>
    </li>

    <li class="nav-item col-md-4 col-6" style="cursor: pointer">
        <a class="nav-link nav-cards fs-5" data-nav="usuarios">Usuários</a>
    </li>
</ul>