@model AdminModel

<div class="container text-start alert alert-danger fixed-top w-50" id="error-message-div" style="display: none; margin: 0 auto; margin-top: 60px;">
    <span id="error-message"></span>
    <button type="button" class="btn btn-danger btn-sm close-alert position-absolute" style="right: 20px" aria-label="Close">X</button>
</div>

<div class="container text-start alert alert-success fixed-top w-50" id="success-message-div" style="display: none; margin: 0 auto; margin-top: 60px;">
    <span id="success-message"></span>
    <button type="button" class="btn btn-danger btn-sm close-alert position-absolute" style="right: 20px" aria-label="Close">X</button>
</div>

<table class="table call-data-table" id="news-table">
    <thead>
        <tr>
            <th scope="col" class="text-dark">Notícia</th>
            <th scope="col" class="text-dark">Data de Criação</th>
            <th scope="col" class="text-dark text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model == null)
            {
                <tr>
                    <td colspan="4">
                        <strong>Por enquanto ainda não há notícias registradas.</strong>
                    </td>
                </tr>
            }
            else
            {
                foreach (News news in Model.NewsList)
                {
                    <tr>
                        <td class="text-start">@news.NewsTitle</td>
                        <td class="text-start">@news.CreationDate</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary news-edit" data-id="@news.Id">Editar</a>
                                <a role="button" class="btn btn-danger news-delete" data-id="@news.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>