@{
    ViewData["Title"] = "Formulários";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Paróquia Russas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/paroquiaRussas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="body-admin h-100">
    <section class="my-5">
        <div class="text-center">
            <img src="~/img/logoparoquia.png" alt="logotipo paróquia de russas" style="width: 20rem" />
        </div>
        <div class="text-center mt-4 container">

            <div class="card mt-3 text-start text-dark">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">

                        <li class="nav-item col-md-4 col-6" style="cursor: pointer">
                            <a class="nav-link nav-cards active fs-5" data-nav="noticias">Notícias</a>
                        </li>

                        <li class="nav-item col-md-4 col-6" style="cursor: pointer">
                            <a class="nav-link nav-cards fs-5" data-nav="eventos">Eventos</a>
                        </li>

                        <li class="nav-item col-md-4 col-6" style="cursor: pointer">
                            <a class="nav-link nav-cards fs-5" data-nav="usuarios">Usuários</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body conteudo-noticias">
                    @await Html.PartialAsync("_NewsForms")
                </div>

                <div class="card-body conteudo-eventos" style="display: none;">
                    @await Html.PartialAsync("_EventsForms")
                </div>

                <div class="card-body conteudo-usuarios" style="display: none;">
                    @await Html.PartialAsync("_UserForms")
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/utility.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>