@{
    ViewData["Title"] = "Início";
}

<div class="text-center vh-100">
    <div class="vh-100">
        <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active vh-100">
                    <img src="~/img/bible-g38657752f_1920.jpg" class="d-block w-100 vh-100" style="object-fit: cover" />
                </div>
                <div class="carousel-item vh-100">
                    <img src="~/img/card.jpeg" class="d-block w-100 vh-100" style="object-fit: cover" />
                </div>
                <div class="carousel-item vh-100">
                    <img src="~/img/festa das inscrições slide3.jpeg" class="d-block w-100 vh-100" style="object-fit: cover" />
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-4">Início</h1>
</div>
